<section class="mx-8 pb-24 flex flex-col items-center justify-center">
  <form [formGroup]="signInForm" class=" mt-6 flex flex-col justify-center items-center">
    <mat-form-field>
      <input  matInput placeholder="nazwa użytkownika" formControlName="username" #username>

      <mat-error *ngIf="signInForm.invalid">{{signInForm.get('username')?.errors | getErrorMessUser}}</mat-error>


    </mat-form-field>


    <mat-form-field>
      <input matInput type="password" placeholder="hasło" formControlName="password" #password>
      <!--          <mat-error *ngIf="signUpControl.invalid">{{getErrorMessageSignUp()}}</mat-error>-->
<!--      <mat-error *ngIf="signInForm.invalid">{{signInForm.get('password')?.errors | getErrorMessPassword}} </mat-error>-->
<!-- robmy tak ze tutaj podzie caly handlng tego logowania. wyslemy zapytanie do bazy i i zrobimy error na formGroup-->
<!-- trzeba tylko wsadzic error manualnie do odpowieniego formcontrola z getem -->
    </mat-form-field>

    <button mat-flat-button class="mt-6" (click)="loginRequest(username.value, password.value)" aria-label="start authorization procces" color="primary">
      zaloguj
    </button>

  </form>
</section>
