<span class="relative flex flex-col justify-center items-center">
  <h2 mat-dialog-title>usun typ zamówienia</h2>

  <mat-dialog-content>
    <form [formGroup]="selectForm">


        <mat-form-field >
          <mat-label>typ zamówienia</mat-label>
            <mat-select  formControlName="orderTypeName" >
              <mat-option *ngFor="let type of types; let i = index" [value]="i">
                {{ type.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>
  </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">anuluj</button>
    <button mat-raised-button color="primary" (click)="submitDialog()">akceptuj</button>
  </mat-dialog-actions>
</span>
