<main class="w-screen h-screen bg-blue-300">
  <h1 *ngIf="orderTypes$ | async as types">orderTypes: {{types[1].name}}</h1>
  <button mat-button color="warn" (click)="logout()">wyloguj</button>

  <span class="flex flex-col items-center justify-center w-4/5">
    <span>
      <mat-button-toggle-group name="schedule" aria-label="schedule" [(ngModel)]="toggleValue">
        <mat-button-toggle [checked]="true" style="width: 150px" value="day" (click)="displayDay()" disableRipple>dziś</mat-button-toggle>
        <mat-button-toggle style="width: 150px" value="week" (click)="displayWeek()" disableRipple>ten tydzień</mat-button-toggle>
        <mat-button-toggle style="width: 150px" value="custom" (click)="resetOrders()" disableRipple>wybierz zakres</mat-button-toggle>
      </mat-button-toggle-group>
    </span>

    <mat-form-field *ngIf="toggleValue === 'custom'">
         <mat-label>Wpisz zakres dat:</mat-label>
         <mat-date-range-input [rangePicker]="picker">
            <input matStartDate (dateChange)="displayCustom(startDate.value, endDate.value)" placeholder="Data początkowa" #startDate>
            <input matEndDate (dateChange)="displayCustom(startDate.value, endDate.value)" placeholder="Data końcowa" #endDate>
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

<ng-container *ngIf="orders$ then ordersTemplate else arrayOrdersTemplate"></ng-container>
      <ng-template #ordersTemplate >
        <ng-container *ngFor="let order of orders$ | async; let i = index; ">
          <ng-container *ngIf="orderTypes$ | async as types">
            <app-order [orderTypeName]="types[order.orderTypeId-1].name" [order]="order" [isToDisplayDetails]="i === indexTodisplayDetails" (click)="assignIndex(i)" class="w-full my-8"></app-order>
          </ng-container>
        </ng-container>
      </ng-template>

     <ng-template #arrayOrdersTemplate>
        <ng-container *ngFor="let day of $ordersArray | async" >
          <ng-container *ngIf="orderTypes$ | async as types">
            <ng-container *ngFor="let order of day;  let i = index">
              <app-order [orderTypeName]="types[order.orderTypeId-1].name" [order]="order" [isToDisplayDetails]="i === indexTodisplayDetails" (click)="assignIndex(i)" class="w-full my-8"></app-order>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </span>
</main>
