<main class="w-screen h-screen bg-blue-300">
  <button mat-button color="warn" (click)="logout()">wyloguj</button>

  <span class="flex flex-col items-center justify-center w-4/5">
    <span>
      <mat-button-toggle-group name="schedule" aria-label="schedule" [(ngModel)]="toggleValue">
        <mat-button-toggle [checked]="true" style="width: 150px" value="day" (click)="displayDay()" disableRipple>dziś</mat-button-toggle>
        <mat-button-toggle style="width: 150px" value="week" (click)="displayWeek()" disableRipple>ten tydzień</mat-button-toggle>
        <mat-button-toggle style="width: 150px" value="custom" disableRipple>wybierz zakres</mat-button-toggle>
      </mat-button-toggle-group>
    </span>

    <mat-form-field *ngIf="toggleValue === 'custom'">
         <mat-label>Wpisz zakres dat:</mat-label>
         <mat-date-range-input [rangePicker]="picker">
            <input matStartDate (dateChange)="displayCustom(startDate.value, endDate.value)" placeholder="Data początkowa" #startDate>
            <input matEndDate (dateChange)="displayCustom(startDate.value, endDate.value)" placeholder="Data końcowa" #endDate>
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

  <ng-container *ngFor="let order of $orders | async; let i = index">
    <app-order [order]="order" [isToDisplayDetails]="i === indexTodisplayDetails" (click)="assignIndex(i)" class="w-full my-8"></app-order>
  </ng-container>
    </span>
</main>
