<section class = "mx-8 pb-24 flex flex-col items-center justify-center">
  <form [formGroup]="signUpForm" class=" mt-6 flex flex-col justify-center items-center" >
    <mat-form-field>
      <input matInput type="text" placeholder="nazwa użytkownika" formControlName="username" #username>
      <!--          <mat-error *ngIf="signUpControl.invalid">{{getErrorMessageSignUp()}}</mat-error>-->
      <mat-error *ngIf="signUpForm.invalid">{{signUpForm.get('username')?.errors | getErrorMessUser}} </mat-error>


    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="hasło" formControlName="password" #password>
      <!--          <mat-error *ngIf="signUpControl.invalid">{{getErrorMessageSignUp()}}</mat-error>-->
      <mat-error *ngIf="signUpForm.invalid">{{signUpForm.get('password')?.errors | getErrorMessPassword}} </mat-error>


    </mat-form-field>
    <button class="mt-6" mat-flat-button color="primary" (click)="(username.value)" >zarejestruj</button>

  </form>
</section>
