<main class="w-screen h-screen ">
  <button mat-button color="warn" (click)="logout()">wyloguj<mat-icon class="icon-logout">logout</mat-icon></button>

  <span class="w-full flex flex-col justify-center items-center">
    <span>
      <app-order-state-console></app-order-state-console>
      <button mat-button class="add-order-button" (click)="openAddOrderDialog()">dodaj zamówienie</button>
    </span>

    <div  *ngIf="orders$ | async as ordersList" [@slideFromLeftStagger]="ordersList">
            <app-order *ngFor="let order of ordersList; let i = index;" [order]="order" [isToDisplayDetails]="i === toDisplayDetails" [index]="i" (dropdownEvent)="assignIndex($event)" (editEvent)="openEditDialog($event.order)" (deleteEvent)="openDeleteOrderDialog($event)" class="flex flex-col justify-center items-center" ></app-order>
    </div>

  </span>
</main>
