main {
  background: url(../../../assets/login-page-pattern.svg);
}
.add-order-button {
  background-color: darkorange;
}
.icon-logout {
  font-size: 30px;
}
.animation-delay {
  animation-delay: 800ms;
}
