
<h2 mat-dialog-title class="text-center">edycja zamówienia</h2>
<mat-dialog-content class="justify-center" style="display: flex">
    <form [formGroup]="orderForm"  class="flex flex-col justify-items-center w-3/5">
      <mat-form-field>
        <mat-label>tytuł</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>opis</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>cena</mat-label>
        <input matInput type="number" formControlName="price" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>klient</mat-label>
        <input matInput formControlName="client" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ilość</mat-label>
        <input matInput type="number" formControlName="quantity" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>termin</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="plannedCompletionDate" id="datepicker" required>
        <mat-hint>DD/MM/RRRR</mat-hint>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox formControlName="completed">Zrealizowany</mat-checkbox>
  </form>
  </mat-dialog-content>

  <mat-dialog-actions style="display: flex; justify-content: center">
    <button mat-button [mat-dialog-close]="false">anuluj</button>
    <button mat-raised-button color="primary" (click)="submitDialog()">akceptuj</button>
  </mat-dialog-actions>
