.button-area {
  column-gap: 20%;
}
.dropdown-button {
  background-color: lavender;
}
.animation-delay {
  animation-delay: 800ms;
}
.green {
  color: #00ff00;
}
.red {
  color: #ff3300;
}
.arrow {
    font-size: 17px;
    height: 17px;
    width: 17px;
}
article {
  background-color:  #66b3ff;
  color: white;
  font-size: 16px;
}
