.button-area {
  column-gap: 20%;
}
.action-button {
  background-color: #3f51b5;
}
.dropdown-button {
  background-color: lavender;
}
.animation-delay {
  animation-delay: 800ms;
}
.green {
  color: green;
}
.red {
  color: red;
}
.arrow {
  //transform: scale(0.7);
    font-size: 15px;
    height: 15px;
    width: 15px;
}
