<section class="mx-8 flex flex-col items-center justify-center">
  <form [formGroup]="signInForm" class=" mt-6 flex flex-col justify-center items-center" (ngSubmit)="submitLogin()">
    <mat-form-field>
      <input  matInput placeholder="nazwa użytkownika" formControlName="username">
      <mat-error *ngIf="signInForm.invalid" [ngSwitch]="signInForm.get('username')?.errors | getFirstKey">
        <span *ngSwitchCase="'required'">Nazwa użytkownika nie może być puste</span>
        <span *ngSwitchCase="'minlength'">Nazwa użytkownika musi zawierać conajmniej 3 znaki</span>
        <span *ngSwitchCase="'maxlength'">Nazwa użytkownika nie może być dłuższe niż 20 znaków</span>
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="password" placeholder="hasło" formControlName="password">
      <mat-error *ngIf="signInForm.invalid" [ngSwitch]="signInForm.get('password')?.errors | getFirstKey">
        <span *ngSwitchCase="'required'">Hasło nie może być puste</span>
        <span *ngSwitchCase="'minlength'">Hasło musi zawierać conajmniej 3 znaki</span>
        <span *ngSwitchCase="'maxlength'">Hasło nie może być dłuższe niż 20 znaków</span>
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="mt-6" type="submit" aria-label="submit login" color="primary">
      zaloguj
    </button>
    <mat-error *ngIf="serverErrorMess">{{serverErrorMess}}</mat-error>
  </form>
</section>
